<aside class="latest-news">
  <p class="h3">Latest News</p>
  <hr>
  {% for post in site.posts limit:4 %}
  {% if post.url != page.url %} 
  {% if forloop.index < 4 or found %}
  <article>
    <div class="card">
      <div class="row g-0">
        <div class="col-4">
          <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
            <img src="{{ "/assets/images/news/" | relative_url }}{{ post.image }}" class="img-fluid" alt="{{ post.title }}">
          </a>
        </div>
        <div class="col-8">
          <div class="card-body">
            <a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">
              <p class="h4">{{ post.title }}</p>
            </a>
            <p><i>{{ post.date | date: "%-d %B %Y" }}</i></p>
            <p>{{ post.content | markdownify | strip_html | truncatewords: 3 }}</p>
          </div>
        </div>
      </div>
    </div>
  </article>
  {% endif %}
  {% else %}
  {% assign found = true %}
  {% endif %}
  {% endfor %}
</aside>