<aside class="guarantees">
  <div class="guarantees-header">
    <img src="{{ "/assets/images/logo-128.png" | relative_url }}" alt="{{ site.title }} Logo">
  </div>
  <ul class="list-unstyled">
    {% for _ in site.data.guarantees %}
    <li>
      <p class="h5">{{ _.title }}<i class="bi {{ _.icon }}"></i></p>
      <p>{{ _.text }}</p>
    </li>
    {% endfor %}
  </ul>
</aside>