<aside class="call-small">
  {% for phone_details in site.data.phone-numbers limit: 1 %}
  <a href="tel:{{ phone_details.iso }}">
    <p class="h4">Call us now at <i class="bi bi-telephone"></i> {{ phone_details.text }} to schedule your free first training!</p>
  </a>
  {% endfor %}
</aside>