<aside class="get-in-touch">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-sm-12">
        <p class="h1">Get In Touch</p>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="get-in-touch-card">
          <div class="get-in-touch-icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="get-in-touch-content">
            <p class="h4">Call Us</p>
            {% for _ in site.data.phone-numbers limit:1 %}
            <p>
              <a href="tel:{{ _.iso }}">{{ _.text }}</a>
            </p>
            {% endfor %}
            <p>Ready to begin your fitness journey? Call us today!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="get-in-touch-card">
          <div class="get-in-touch-icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="get-in-touch-content">
            <p class="h4">Email Us</p>
            <p>
              <a href="mailto:{{ site.email }}">{{ site.email }}</a>
            </p>
            <p>Would you like to learn more about us? Say hello to us today!</p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="get-in-touch-card">
          <div class="get-in-touch-icon">
            <i class="bi bi-house-fill"></i>
          </div>
          <div class="get-in-touch-content">
            <p class="h4">Visit Us</p>
            <p>
              <a href="https://www.google.com/maps/dir/53.8341005,-7.0797701//@53.8341244,-7.0797346,19.67z" target="__blank">Main Street, Virginia, Co. Cavan (Opposite to Skellys)</a>
            </p>
            <p>You're invited to come and see our fitness studio today!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>