<aside class="personal-training-benefits">
  <h2>Our Personal Trainers</h2>
  <hr>
  <p>Our Personal Trainers offer support, professional advise, and training as you work to reach your fitness goals. Listed below are reasons why you might want to think about working with our Personal Trainers.</p>
  <ul>
    <li>You need motivation</li>
    <li>You need accountability</li>
    <li>You are not seeing results</li>
    <li>You don't know where to start</li>
    <li>You are recovering from an injury</li>
    <li>You're training for a specific goal</li>
    <li>You suffer from a specific illness</li>
    
    <li>You need support during workouts</li>
    <li>You're bored doing same exercises</li>
    <li>You have specific medical condition</li>
    <li>You need to be constantly challenged</li>
    <li>You want to learn how to exercise properly</li>
  </ul>
</aside>