{% include aside-get-in-touch.html %}
<footer>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-4">
				<div class="footer-logo">
					<img src="{{ "/assets/images/logo-128.png" | relative_url }}" alt="{{ site.title }} Logo">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel sem non purus tempus sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus ultricies vulputate orci auctor aliquam. Etiam hendrerit accumsan mi accumsan posuere.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="footer-social">{% include social-accounts.html %}</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div class="footer-policies">
					<ul class="list-inline">
						{% for policy in site.policies %}
						<li class="list-inline-item"><a href="{{ site.url }}{{ site.baseurl }}{{ policy.permalink }}">{{ policy.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>			
		</div>
	</div>
	<div class="container-fluid p-0">
		<div class="row no-gutters">
			<div class="col">
				<div class="footer-copyright">
					<small>{{ "now" | date: "%Y" }} © <strong>{{ site.title }}</strong></small>
				</div>
			</div>
		</div>
	</div>
</footer>
<div>
	<button type="button" class="btn btn-danger" id="btn-back-to-top"><span><i class="bi bi-arrow-up-circle-fill"></i></span></button>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{{ "/assets/js/lightbox.js" | relative_url }}"></script>
<script src="{{ "/assets/js/main.js" | relative_url }}"></script>