<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
      <img src="{{ "/assets/images/logotype-yellow-128.png" | relative_url }}" alt="{{ site.title }} Logo" width="20" height="20" class="d-inline-block align-text-top">{{ site.title }}
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        {% for item in site.data.header-links %}
        {% if page.url == "/news/index.html" %}
        {% assign page_url = "/news/" %}
        {% else %}
        {% assign page_url = page.url %}
        {% endif %}
        {% if item.sublinks %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for subitem in item.sublinks %}
            <li>
              {% assign sublink = item.link | append: subitem.link %}
              <a class="dropdown-item {% if page.url == sublink %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ sublink }}">{{ subitem.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% elsif item.link == "/our-team/" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for _ in site.team-members %}
            <li>
              <a class="dropdown-item {% if page.url == _.permalink %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% elsif item.link == "/personal-trainings/" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for _ in site.personal-trainings %}
            <li>
              <a class="dropdown-item {% if page.url == _.permalink %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% elsif item.link == "/programmes-and-classes/" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for _ in site.programmes-and-classes %}
            <li>
              <a class="dropdown-item {% if page.url == _.permalink %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% elsif item.link == "/kickboxing-academy/" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            {% for _ in site.kickboxing-academies %}
            <li>
              <a class="dropdown-item {% if page.url == _.permalink %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if page_url == item.link %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}{{ item.link }}" {% if page_url == item.link %}aria-current="page"{% endif %}>{{ item.name }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>