<div class="row">
  <div class="personal-training-comparison">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Private Personal Training</th>
          <th scope="col">Online Personal Training</th>
          <th scope="col">Group Personal Training</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Individualised Workout Plan</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
        </tr>
        <tr>
          <th scope="row">Individualised Nutritional Plan</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
        </tr>
        <tr>
          <th scope="row">Weekly Food Diary Reviews</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
        </tr>
        <tr>
          <th scope="row">Daily Check Ins</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
        </tr>
        <tr>
          <th scope="row">Weekly Assessments</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
        </tr>
        <tr>
          <th scope="row">Monthly Assessments</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
        </tr>
        <tr>
          <th scope="row">Weekly Weight Ins</th>
          <td><i class="bi bi-check-circle"></i></td>
          <td><i class="bi bi-x-lg"></i></td>
          <td><i class="bi bi-check-circle"></i></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          {% for _ in site.personal-trainings %}
          <th>
            <a class="btn btn-warning" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">Learn More</a>
          </th>
          {% endfor %}

        </tr>
      </tfoot>
    </table>
  </div>
</div>