<ul class="row list-unstyled">
	{% for service in site.data.services %}
	{% if service.link == "" %}
	<li class="list-item col-sm-6 col-md-4">{{ service.name }}</li>
	{% else %}
	<li class="list-item col-sm-6 col-md-4"><a href="{{ site.url }}{{ site.baseurl }}{{ service.link }}">{{ service.name }}</a></li>
	{% endif %}
	{% endfor %}
</ul>