<ul class="list-inline">
	{% for account in site.data.social-accounts %}
	<li class="list-inline-item">
		<a class="button" href="{{ account.link }}" target="__blank"><i class="bi bi-{{ account.type }}"></i></a>
	</li>
	{% endfor %}
</ul>