$logo-red: #ED1F24;
$logo-black: #0B0D0F;
$logo-yellow: #EAED26;

$background-black-primary: #000000;
$background-grey-primary: #2C2C2B;
$background-white-primary: #FFFFFF;
$background-white-secondary: #F4F4F4;
$background-white-tertiary: #E8E8E8;

$text-grey-primary: #999999;
$text-grey-secondary: #6c757d;
$text-green-primary: #00A12C;

$links-grey-primary: #666666;
$links-yellow-primary: #B8BA1E;

$colour_blank: rgba(255, 255, 255, 0);