---
---
@import "variables";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;700&display=swap');

// H1 4.209rem
// H2 3.157rem
// H3 2.369rem
// H4 1.777rem
// H5 1.333rem
// H6 1rem

// - - - - - - - - - - - - - - - - - - - - -
//
// Hacks
//
// - - - - - - - - - - - - - - - - - - - - -
//
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Generic
//
// - - - - - - - - - - - - - - - - - - - - -
//
body {
  font-family: "Fira Sans Condensed", sans-serif;
}

a {
  color: $logo-red;
  text-decoration: none;

  img:hover {
    opacity: 0.8;
  }

  &:hover {
    color: darken($logo-red, 16%);
  }
}

h6, .h6,
h5, .h5,
h4, .h4,
h3, .h3,
h2, .h2,
h1, .h1 {
  font-weight: 700;
}

main {
  section {
    margin: 0;
  }
}

section {
  margin: 64px 0 0;

  header {
    h1 {
      background: linear-gradient(270deg, $logo-yellow 16%, $colour_blank 100%);
      border-radius: 0 8px 8px 0;
      padding: 16px 0;
    }

    p {
      margin: 0 0 64px;
    }
  }
}

hr {
  opacity: 1;
  background-color: $background-white-tertiary;
}

.border-start {
  border-left: 1px solid $background-white-tertiary !important;
}

.card {
  border-color: $background-white-tertiary;

  img {
    border-radius: 5px;
  }
}

.table-striped {
  tbody > tr:nth-of-type(2n+1) > * {
    background: $background-white-primary;
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Footer
//
// - - - - - - - - - - - - - - - - - - - - -
//
footer {
  padding: 64px 0 0;
  text-align: center;
  background: $logo-black;
  color: $text-grey-primary;

  .footer-logo {
    img {
      margin: 0 0 16px;
    }

    p {
      text-align: justify;
    }
  }

  & .footer-social {
    .bi {
      font-size: 1.333rem;
      color: $logo-yellow;

      &:hover {
        color: darken($logo-yellow, 32%);
      }
    }
  }

  & .footer-policies {
    a {
      color: $links-grey-primary;
      text-decoration: none;

      &:hover {
        color: lighten($links-grey-primary, 32%)
      }
    }
  }

  & .footer-copyright {
    margin: 16px 0 0;
    padding: 16px 0;
    background: $background-black-primary;
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Navigation
//
// - - - - - - - - - - - - - - - - - - - - -
//
.navbar-dark {
  .navbar-nav {
    .nav-link {
      color: $links-grey-primary;
    }
  }
}

.bg-dark {
  background-color: $logo-black !important;
}

.dropdown-menu-dark {
  background-color: $background-black-primary;

  .dropdown-item {
    color: $links-grey-primary;

    &:hover,
    &:focus {
      background: $background-grey-primary;
    }

    &.active,
    &:active {
      color: $logo-black;
      background: $logo-yellow;
    }
  }
}

@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu{ 
    display: none;
  }
  .navbar .nav-item:hover .dropdown-menu{ 
    display: block;
  }
  .navbar .nav-item .dropdown-menu{ 
    margin-top:0;
  }
}

.navbar-dark.navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .nav-link.active { 
  color: $logo-yellow;
  font-weight: 700;
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Carousel
//
// - - - - - - - - - - - - - - - - - - - - -
//
#homeCarousel {
  margin: 120px 0 0;
}

.carousel-caption {
  background: radial-gradient(circle, $logo-yellow 64%, $colour_blank 100%);
  color: $logo-black;
}

.carousel-indicators {
  margin-bottom: 1.777rem;

  [data-bs-target] {
    background-color: $links-grey-primary;
  }
}

.carousel-item {
  img {
    border-radius: 16px;
  }
  
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Buttons
//
// - - - - - - - - - - - - - - - - - - - - -
//
.btn-danger {
  background-color: $logo-red !important;
  border: 1px solid $logo-red;

  &:hover {
    background-color: darken($logo-red, 8%) !important;
    border-color: darken($logo-red, 16%);
  }
}

.btn-warning {
  background-color: $logo-yellow !important;
  border: 1px solid $logo-yellow;

  &:hover {
    background-color: darken($logo-yellow, 8%) !important;
    border-color: darken($logo-yellow, 16%);
  }
}

#btn-back-to-top {
  right: 32px;
  bottom: 16px;
  display: none;
  padding: 0 32px;
  position: fixed;
  background-color: $logo-red;

  & i {
    font-size:1.777rem;
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// News
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.news {
    article {
      margin: 0 0 64px;
    }

    .news-image {
      border-radius: 5px;
    }

    .news-pagination {
      text-align: center;
      margin: 64px 0 0;

      p {
        margin: 8px 0 0;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Post
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.post {
    .post-content {
      margin: 32px 0 0;
      text-align: justify;
    }
  }
}

.list-post {
  li:not(:last-child) {
    padding: 0 10px 0 0;
    border-right: 1px solid $background-white-tertiary;
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Contact Us
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.contact-us {
    iframe {
      width: 100%;
      height: 400px;
      margin: 32px 0 0;
    }

    .list-unstyled > li {
      padding: 8px 0;
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Our Team
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.our-team {
    article {
      text-align: center;

      h2 {
        margin: 32px 0 0;
      }

      img {
        border-radius: 5px;
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Team Member
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.team-member {
    ul {
      li {
        padding: 0 0 8px;

        &:before {
          content: "\2714";
          display: inline-block;
          width: 1.333em;
        }
      }
    }

    .team-member-image {
      img {
        border-radius: 5px;
      }
    }

    .team-member-news {
      header {
        h4 {
          margin: 0 0 16px;
        }
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// About Us
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.about-us {
    .about-us-gallery {
      margin: 0 0 32px;

      img {
        border-radius: 5px;
      }
    }

    .about-us-text {
      ul {
        margin: 32px 0 0;

        li {
          padding: 0 0 8px;

          &:before {
            content: "\279F";
            display: inline-block;
            width: 1.333em;
          }
        }
      }
    }
  }
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Personal Trainings
//
// - - - - - - - - - - - - - - - - - - - - -
//
main {
  &.personal-trainings {
    .personal-trainings-card {
      margin: 0 0 128px;

      a {
        color: $logo-black;
      }

      .personal-trainings-image {
        img {
          border-radius: 5px;
        }
      }

      .personal-trainings-header {
        text-align: center;
        position: relative;
        margin: -32px 0;

        h2 {
          font-size: 1.333rem;
          margin: 0;
          padding: 16px 0;
          background: white;
          position: absolute;
          top: 6px;
          left: 16px;
          right: 16px;
        }
      }
    }
  }
}

.personal-training-comparison {
  .table {
    > :not(caption) > * > * {
      padding: 16px;
    }

    > :not(:first-child) {
      border-top: 0 none;
    }
  }

  table {
    margin: 16px 0 0;

    thead {
      background: $logo-yellow;
    }

    tbody {
      th {
        font-weight: 400;
      }
    }

    .bi-check-circle::before {
      color: $text-green-primary;
    }

    .bi-x-lg::before {
      color: $logo-red;
    }
  }  
}

// - - - - - - - - - - - - - - - - - - - - -
//
// Aside
//
// - - - - - - - - - - - - - - - - - - - - -
//
aside {
  &.get-in-touch {
    padding: 128px 0;
    margin: 128px 0 0;
    text-align: center;
    background: $background-white-secondary;

    p.h1 {
      margin: 0 0 32px;
      text-transform: uppercase;
    }

    .get-in-touch-card {
      border-radius: 5px;
      background: $background-white-tertiary;
      padding: 20px 0;
      margin: 0 20px;

      div {
        display: inline-block;
      }

      p {
        margin: 0;
        padding: 0 0 2px;
      }

      .get-in-touch-icon {
        vertical-align: top;

        i {
          color: $logo-red;
          font-size: 1.333rem;
        }
      }

      .get-in-touch-content {
        text-align: left;
        padding: 0 0 0 6px;
      }
    }
  }

  &.call-small {
    background: $logo-yellow;
    border-radius: 16px;
    text-align: center;
    margin: 64px 0;

    &:hover {
      background: darken($logo-yellow, 5%);
    }

    a {
      text-decoration: none;
    }

    p.h4 {
      padding: 32px 16px;
      color: $logo-black;
      margin: 0;

      .bi {
        font-size: 1.333rem;
      }
    }
  }

  &.social {
    font-size: 2.369rem;
  }

  &.guarantees {
    li {
      margin: 0 0 32px;

      p.h5 {
        position: relative;
        border-bottom: 1px solid $background-white-tertiary;
      }

      p:not(.h5) {
        color: $text-grey-secondary;
        padding: 0 96px 0 0;
      }

      i {
        font-size: 1.777rem;
        color: darken($logo-yellow, 8%);
        position: absolute;
        background: white;
        top: 8px;
        right: 0;
      }
    }

    .guarantees-header {
      text-align: center;
      padding: 30px 0;
    }
  }

  &.latest-news {
    p {
      margin: 0;
      padding: 0;
    }

    p:not(.h4) {
      color: black;
    }

    .card {
      border: 0 none;
      margin: 0 0 32px;
    }

    .card-body {
      padding: 0 0 0 1rem;
    }
  }

  .call-large {
    background: linear-gradient(90deg, $colour_blank 0%, $logo-yellow 30%, $logo-yellow 70%, $colour_blank 100%);
    border-bottom: 1px solid $logo-yellow;
    border-top: 1px solid $logo-yellow;
    text-align: center;
    margin: 128px 0 0;

    &:hover {
      background: linear-gradient(90deg, $colour_blank 0%, $logo-yellow 50%, $colour_blank 100%);
    }

    a {
      text-decoration: none;
      color: $logo-black;

      &:hover {
        color: $logo-black;
      }
    }

    p {
      padding: 48px 0;
      margin: 0;
    }
  }
}
