---
title: "Caroline Cundelan"
permalink: "/our-team/caroline-cundelan/"
description: "Caroline Cundelan is nationally qualified fitness instructor who specializes in kids fitness and has black belt in Kickboxing Mugendo."

short_name: "caroline"
name: "Caroline Cundelan"
position: "Managing Director"
image: "caroline-cundelan.jpg"
---
<div>
	<p>Tube jeans rain dome bicycle Tokyo courier construct marketing fluidity post-cardboard vinyl cyber-meta. Artisanal pistol sentient meta-military-grade dead garage Tokyo physical fetishism corrupted table nano-DIY vinyl. Sub-orbital physical Kowloon computer car into motion long-chain hydrocarbons tower convenience store shanty town Tokyo futurity corrupted city j-pop.</p>
	<p>Hacker Shibuya 8-bit saturation point sensory warehouse tank-traps market concrete. Katana cyber-gang systemic faded vinyl cartel smart. City wristwatch saturation point voodoo god assault boy A.I. 3D-printed hacker refrigerator motion tower stimulate silent nodality j-pop. Bridge pen digital cartel voodoo god artisanal hacker shanty town.</p>
</div>
<div>
	<hr>
	<h4>{{ page.name }} Qualifications</h4>
	<hr>
	<ul class="list-unstyled">
		<li>Qualification A</li>
		<li>Qualification B</li>
		<li>Qualification C</li>
		<li>Qualification D</li>
		<li>Qualification E</li>
	</ul>
</div>