---
title: "Oops!"
permalink: "/404.html"
description: "404 Page"
---
<div class="container">
	<div class="row">
		<div class="col">
			<section>
				<header>
					<p class="h1">{{ page.title }}</p>
					<hr>
				</header>
			</section>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col">
			<p class="h4">We're sorry, we can't find the page you're looking for.</p>
			<p>Here are some some interesting links instead!</p>
			<ul>
				{% for _ in site.data.header-links %}
				<li><a href="{{ site.url }}{{ site.baseurl }}{{ _.link }}">{{ _.name  }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>