---
title: "Contact Us"
permalink: "/contact-us/"
description: "Contact Us Page Description"
---
<div class="container">
	<div class="row">
		<div class="col">
			<section>
				<header>
					<h1>{{ page.title }}</h1>
					<hr>
					<p>Narrative computer monofilament rifle geodesic human free-market man wonton soup futurity saturation point rain paranoid assault j-pop physical render-farm. A.I. face forwards physical rain claymore mine sign 3D-printed smart. Nodality plastic market jeans sub-orbital kanji engine tank-traps narrative j-pop Shibuya saturation point modem pre-wonton soup dissident Tokyo.</p>
					<hr>
				</header>
			</section>
		</div>
	</div>
</div>
<main class="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<section>
					<header>
						<h2>Contact Details</h2>
						<hr>
					</header>
					<div class="contact-us-content">
						<ul class="list-unstyled">
							{% for _ in site.data.phone-numbers %}
							<li>
								<i class="bi bi-telephone"></i> Call <a href="{{ site.url }}{{ site.baseurl }}{{ _.link }}"><b>{{ _.name }}</b></a> now on <span itemprop="telephone"><a href="tel:{{ _.iso }}">{{ _.text }}</a></span>
							</li>
							{% endfor %}
							<li>
								<i class="bi bi-envelope"></i> Email us at <a href="mailto:{{ site.email }}" itemprop="email">{{ site.email }}</a>
							</li>
						</ul>
						<div>
							<h6>Pandemic Academy of Fitness</h6>
							<div itemprop="location address" itemscope itemtype="https://schema.org/PostalAddress">
								<span itemprop="streetAddress">Main Street (Opposite to Skellys)</span><br>
								<span itemprop="addressLocality">Virginia</span><br>
								<span itemprop="addressRegion">Co. Cavan</span><br>
								<span itemprop="addressCountry">Ireland</span><br>
								<span itemprop="postalCode">A82 YV02</span><br>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-sm-12 col-md-6 border-start">
				<section>
					<header>
						<h2>Opening Hours</h2>
						<hr>
					</header>
					<div class="contact-us-content">
						<table class="table table-hover table-borderless">
							<thead>
								<tr>
									<th scope="col">Day of Week</th>
									<th scope="col">Business Hours</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th>Monday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Tuesday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Wednesday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Thursday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Friday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Saturday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
								<tr>
									<th scope="row">Sunday</th>
									<td>6:00 AM - 9:30 PM</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<iframe src="https://www.openstreetmap.org/export/embed.html?bbox=-7.082077860832215%2C53.83348592751201%2C-7.077598571777345%2C53.8348329219177&amp;layer=mapnik&amp;marker=53.83415943013009%2C-7.079838216304779"></iframe>
			</div>
		</div>
	</div>
</main>