---
title: "Home"
permalink: "/"
description: "Home Page Description"
---
<div class="container">
	<div class="row">
		<div class="col">
			<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for _ in site.data.home-slides %}
					{% assign bc = 0 %}
					{% assign bc = bci | plus: 1 %}
					{% assign bci = bc %}
					{% if bci == 1 %}
					<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="{{ bci | minus: 1 }}" class="active" aria-current="true" aria-label="Slide {{ bci }}"></button>
					{% else %}
					<button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="{{ bci | minus: 1 }}" aria-label="Slide {{ bci }}"></button>
					{% endif %}
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for _ in site.data.home-slides %}
					{% assign sc = 0 %}
					{% assign sc = sci | plus: 1 %}
					{% assign sci = sc %}
					{% if sci == 1 %}
					<div class="carousel-item active">
						<img src="{{ "/assets/images/slides/" | relative_url }}{{ _.image }}" class="d-block w-100" alt="Personal Training">
						<div class="carousel-caption d-none d-md-block">
							<h3>{{ _.title }}</h3>
							<p>{{ _.text }} <a href="{{ site.url }}{{ site.baseurl }}{{ _.link }}">Learn more...</a></p>
						</div>
					</div>
					{% else %}
					<div class="carousel-item">
						<img src="{{ "/assets/images/slides/" | relative_url }}{{ _.image }}" class="d-block w-100" alt="Personal Training">
						<div class="carousel-caption d-none d-md-block">
							<h3>{{ _.title }}</h3>
							<p>{{ _.text }} <a href="{{ site.url }}{{ site.baseurl }}{{ _.link }}">Learn more...</a></p>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		</div>
	</div>
</div>