---
title: "News"
permalink: "/news/"
description: "News Page Description"
pagination:
  enabled:
    true
---
<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header>
          <h1>{{ page.title }}</h1>
          <hr>
          <p>Narrative computer monofilament rifle geodesic human free-market man wonton soup futurity saturation point rain paranoid assault j-pop physical render-farm. A.I. face forwards physical rain claymore mine sign 3D-printed smart. Nodality plastic market jeans sub-orbital kanji engine tank-traps narrative j-pop Shibuya saturation point modem pre-wonton soup dissident Tokyo.</p>
          <hr>
        </header>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <main class="news">
        <header>
          <h2>Latest News</h2>
          <hr>
        </header>
        {% for _ in paginator.posts %}
        <article>
          <div class="row">
            <div class="col-4">
              <div class="news-image">
                <a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">
                  {% if _.image %}
                  <img src="{{ "/assets/images/news/" | relative_url }}{{ _.image }}" class="img-fluid" alt="{{ _.title }}">
                  {% else %}
                  <img src="{{ "/assets/images/news/" | relative_url }}{{ _.image }}" class="img-fluid" alt="{{ _.title }}">
                  {% endif %}
                </a>
              </div>
            </div>
            <div class="col-8">
              <div class="news-summary">
                <h3><a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a></h3>
                <p><i>{{ _.date | date: "%-d %B %Y" }}</i></p>
                <p>{{ _.content | markdownify | strip_html | truncatewords: 18}}</p>
                <a class="btn btn-warning" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}" role="button">Read More</a>
              </div>
            </div>
          </div>
        </article>
        {% endfor %}
        <div class="row">
          <div class="col">
            <nav class="news-pagination">
              <div class="btn-group">
                {% if paginator.previous_page %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.previous_page_path }}" class="btn btn-warning">Previous</a>
                {% else %}
                <a href="#" class="btn btn-warning disabled" aria-disabled="true">Previous</a>
                {% endif %}
                {% if paginator.next_page %}
                <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.next_page_path }}" class="btn btn-warning">Next</a>
                {% else %}
                <a href="#" class="btn btn-warning disabled" aria-disabled="true">Next</a>
                {% endif %}
              </div>
              <p>You are viewing News Page {{ paginator.page }} of {{ paginator.total_pages }}</p>
            </nav>
          </div>
        </div>
      </main>
    </div>
    <div class="col-4 border-start">
      <div class="row">
        <div class="col">
          {% include aside-guarantees.html %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include aside-call-small.html %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include aside-social.html %}
        </div>
      </div>
    </div>
  </div>
</div>