---
title: "Our Team"
permalink: "/our-team/"
description: "Our Team Page Description"
---
<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header>
          <h1>{{ page.title }}</h1>
          <hr>
          <p>Narrative computer monofilament rifle geodesic human free-market man wonton soup futurity saturation point rain paranoid assault j-pop physical render-farm. A.I. face forwards physical rain claymore mine sign 3D-printed smart. Nodality plastic market jeans sub-orbital kanji engine tank-traps narrative j-pop Shibuya saturation point modem pre-wonton soup dissident Tokyo.</p>
        </header>
      </section>
    </div>
  </div>
</div>
<main class="our-team">
  <div class="container">
    <div class="row">
      {% for _ in site.team-members %}
      {% capture _index %}{% cycle "odd", "even" %}{% endcapture %}
      {% if _index == "odd" %}
      <div class="col-6">
      {% else %}
      <div class="col-6 border-start">
      {% endif %}
      <article>
        <a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">
          <img class="card-img-top" src="{{ "/assets/images/our-team/" | relative_url }}{{ _.image }}" alt="">
        </a>
        <header>
          <h2>{{ _.name }}</h2>
          <h4>{{ _.position }}</h4>
          <hr>
        </header>
        <p>{{ _.description }}</p>
        <a class="btn btn-warning" role="button" href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">Read More</a>
      </article>
      </div>
      {% endfor %}
      </div>
    </div>
  </div>
</main>