---
title: "Programmes and Classes"
permalink: "/programmes-and-classes/"
description: "Programmes and Classes Page Description"
---
<h1>{{ page.title }}</h1>
<ul>
  {% for _ in site.programmes-and-classes %}
    <li>
      <h2><a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a></h2>
      <p>{{ _.content }}</p>
    </li>
  {% endfor %}
</ul>