---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col">
			<section>
				<header>
					<h1>{{ page.title }}</h1>
					<hr>
				</header>
			</section>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-8">
			<main class="personal-training">{{content}}</main>
		</div>
		<div class="col-4 border-start">
			<div class="row">
				<div class="col">
					{% include aside-personal-trainers.html %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% include aside-call-small.html %}
				</div>
			</div>
			<div class="row">
				<div class="col">
					{% include aside-social.html %}
				</div>
			</div>
		</div>
	</div>
</div>