---
layout: default
---
<div class="container">
	<header>
		<div class="row">
			<div class="col">
				<h1>{{ page.title }}</h1>
				<hr>
			</div>
		</div>
	</header>
	<div class="row">
		<div class="col-8">{{ content | markdownify }}</div>
		<div class="col-4">
			<div class="toc border-start">{% toc %}</div>
		</div>
	</div>
</div>