---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header>
          <h1>{{ page.title }}</h1>
          <hr>
          <ul class="list-unstyled list-inline list-post">
            {% assign author = site.team-members | where: 'short_name', page.author | first %}
            {% if author %}
            <li class="list-inline-item">
              Authored By <a href="{{ site.url }}{{ site.baseurl }}{{ author.url }}">{{ author.name }}</a>
            </li>
            {% endif %}
            <li class="list-inline-item">Authored on <b>{{ page.date | date_to_string }}</b></li>
            <li class="list-inline-item">
              {% for tag in page.tags %}
              <span class="badge rounded-pill bg-dark">{{ tag }}</span>
              {% endfor %}
            </li>
          </ul>
          <hr>
        </header>
      </section>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <main class="post">
        <article>
          <img class="card-img-top" src="{{ "/assets/images/news/" | relative_url }}{{ page.image }}" alt="{{ page.title }}">
          <div class="post-content">{{ content | markdownify }}</div>
        </article>
      </main>
    </div>
    <div class="col-4 border-start">
      <div class="row">
        <div class="col">
          {% include aside-latest-news.html %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include aside-call-small.html %}
        </div>
      </div>
      <div class="row">
        <div class="col">
          {% include aside-social.html %}
        </div>
      </div>
    </div>
  </div>
</div>