---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header>
          <h1>{{ page.title }}</h1>
          <hr>
          <p>{{ page.description }}</p>
          <hr>
        </header>
      </section>
    </div>
  </div>
</div>
<main class="team-member">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="team-member-image">
          <img class="card-img-top" src="{{ "/assets/images/our-team/" | relative_url }}{{ page.image }}" alt="{{ page.title }}">
        </div>
      </div>
      <div class="col-6 border-start">
        <div class="team-member-summary">
          <header>
            <h2>{{ page.title }}</h2>
            <h4>{{ page.position }}</h4>
            <hr>
          </header>
          <div class="team-member-content">{{ content }}</div>
          {% assign filtered_posts = site.posts | where: "author", page.short_name %}
          {% if filtered_posts %}
          <div class="team-member-news">
            <header>
              <hr>
              <h4>{{ page.name }}'s Recent News</h4>
            </header>
            <div class="row">
              {% for _ in filtered_posts limit: 2 %}
              <div class="col-sm-6">
                <article>
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">
                        <a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}">{{ _.title }}</a>
                      </h4>
                      <p class="card-text"><i>{{ _.date | date: "%-d %B %Y" }}</i></p>
                      <p class="card-text">{{ _.content | markdownify | strip_html | truncatewords: 10 }}</p>
                      <a href="{{ site.url }}{{ site.baseurl }}{{ _.url }}" class="btn btn-warning">Read More</a>
                    </div>
                  </div>
                </article>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</main>
<aside>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="call-large">
          {% for phone in site.data.phone-numbers limit:1 %}
          <a href="tel:{{ phone.iso }}">
            <p class="h4">Call us now at <i class="bi bi-telephone"></i> {{ phone.text }} to schedule your session with {{ page.name }}. Your first one is on us!</p>
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</aside>